#page-home .hero {
  @apply relative py-8 sm:py-16;
  > div {
    @apply mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-6xl items-center justify-center flex flex-col;
  }
  h3 {
    @apply text-[48px] sm:px-16 md:text-[72px] font-extralight text-white uppercase;
    @extend .hue_animated;
  }
  .model3d {
    @apply relative justify-self-center;
  }
}

#page-home {
  .tip {
    @apply max-w-full py-4 px-10;
    @apply text-center text-white;
    @apply bg-gray-700;
  }
}

#page-home .features {
  @apply relative bg-gray-300 dark:bg-gray-900 py-16 sm:py-24;
  > div {
    @apply mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl;
  }
  h2 {
    @apply mt-2 text-3xl font-medium text-gray-900 dark:text-white sm:text-4xl;
    @extend .gradient_animation;
  }
  .content {
    @apply mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3;
    > div {
      @apply flex;
      &:hover {
        @apply hover:scale-100 md:hover:scale-110 transition-all duration-200;
      }
    }
    > div > div {
      @apply bg-gray-100 dark:bg-gray-800 bg-opacity-25 hover:bg-opacity-100 dark:bg-opacity-25 dark:hover:bg-opacity-100 rounded-2xl px-6 pb-8 filter saturate-[0.75] hover:saturate-100;
      &:hover > div > div {
        @apply scale-[1.2] md:scale-[1.3] transition duration-500 -top-5;
      }
    }
    > div > div > div {
      @apply px-4 md:px-8 relative;
    }
    img {
      @apply relative -mt-32;
    }
    h3 {
      @apply text-2xl sm:text-3xl font-medium text-gray-900 dark:text-white;
    }
    p {
      @apply mt-5 text-base text-gray-500 dark:text-gray-300;
    }
    div:hover h3 {
      @extend .gradient_animation;
    }
    div:hover p {
      @extend .gradient_animation;
    }
  }
}

#page-home .networks {
  @apply relative bg-gray-300 dark:bg-gray-900 py-16 sm:py-24;
  > div {
    @apply mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl;
  }
  h2 {
    @apply mt-2 text-3xl font-medium text-gray-900 dark:text-white sm:text-4xl;
    @extend .gradient_animation;
  }
  > div > div {
    @apply mt-5 text-base text-gray-500 dark:text-gray-300;
  }
  .iconbox {
    @apply relative mx-6 p-5 bg-gray-200 dark:bg-gray-300 text-gray-600 content-center flex items-end text-3xl w-56 mb-8 rounded-md;
  }
  .iconbox:hover {
    @apply bg-gray-100 dark:bg-gray-200;
  }
  .iconbox img {
    @apply h-10 w-10;
  }
  .iconbox span {
    @apply relative mx-1 w-36;
  }
}

#page-home .protocols {
  @apply py-16 overflow-hidden lg:py-24;
  > div {
    @apply relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl;
  }

  .header {
    @apply relative;

    h2 {
      @apply text-center text-3xl leading-8 font-medium  text-white sm:text-4xl;
      @extend .gradient_animation;
    }

    p {
      @apply mt-4 max-w-3xl mx-auto text-center text-xl text-gray-200;
    }
  }

  .content {
    @apply relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start;
    > div {
      @apply relative mt-6;
    }
    h3 {
      @apply text-2xl uppercase text-white  sm:text-3xl;
    }
    dl {
      @apply mt-10 space-y-10;
      > div {
        @apply relative;
        &:hover .iconbox {
          @apply animate-pulse;
        }
      }
      div:hover dd {
        @extend .gradient_animation;
      }
      div:hover dt h4 {
        @extend .gradient_animation;
      }
    }
    .iconbox {
      @apply absolute flex items-center justify-center h-12 w-12 text-white;
    }
    .icon {
      @apply h-10 w-10;
    }
    h4 {
      @apply ml-16 text-xl uppercase leading-6 font-medium text-white;
    }
    dd {
      @apply mt-2 ml-16 text-base text-gray-200;
    }
  }
}

#page-home .features,
#page-home .protocols {
  h2 {
    @apply uppercase;
    span {
      @apply font-thin;
    }
  }
}

.home-spin {
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linear-wipe {
  background: linear-gradient(to right, #6b00a1 20%, #005dff 40%, #6b00a1 60%, #005dff 80%, #6b00a1 100%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

#page-home #site-nav {
  @apply bg-opacity-0 dark:bg-opacity-0;
  .brand {
    a {
      @apply text-white;
    }
  }
  .desktop-menu {
    .item {
      @apply hover:bg-gray-800 text-gray-100 hover:text-gray-100;
    }
  }
  .mobile-menu {
    button {
      @apply text-white;
    }
  }
}

.gradient_animation {
  animation: flow 3s ease-in-out infinite;
  // background: linear-gradient(-60deg, #b00ebb, #008fdc);
  background: linear-gradient(-60deg, #b00ebb 20%, #008fdc 40%, #b00ebb 60%, #008fdc 80%, #b00ebb 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hue_animated {
  background-image: -webkit-linear-gradient(92deg, #00a0c4, #b602e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 2s infinite ease-in-out;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* -------------------------------- 
Roadmap
-------------------------------- */

#page-roadmap .roadmap {
  @apply relative;
  > div {
    @apply mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl;
  }
  h2 {
    @apply mt-2 text-3xl font-medium text-gray-900 dark:text-white sm:text-4xl uppercase;
    @extend .gradient_animation;
  }
  h3 {
    @apply mt-2 text-2xl font-medium text-gray-900 dark:text-white sm:text-3xl;
    @extend .gradient_animation;
  }
}
.cd-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #ffffff;
}
@media only screen and (min-width: 750px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: '';
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 750px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffffff;
}
.cd-timeline-img {
  @apply bg-gray-900;
}
@media only screen and (min-width: 750px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  padding: 1em;
  @apply bg-gray-900 rounded-lg;
  &:hover {
    @apply hover:scale-110 transition-all duration-200;
  }
}
.cd-timeline-content:after {
  content: '';
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.cd-timeline-content p {
  color: #ffffff;
}
.cd-timeline-content p {
  margin: 0.5em 0;
  display: inline-flex;
}

@media only screen and (min-width: 750px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
    margin: 0 5%;
    text-align: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    text-align: left;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

#page-community {
  @apply h-full;
  .community-container {
    @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-4;
    @apply mt-20;
    .item {
      @apply py-10;
      a {
        @apply flex flex-col items-center;
        .icon {
          @apply w-10 h-10;
        }
        svg {
          @apply w-12 h-12;
        }
      }
    }
  }
}

#page-roadmap {
  @apply bg-gray-900;
  .container {
    @apply px-1 py-2;
    h2 {
      @apply text-3xl;
    }
  }
}

#mc_embed_signup {
  width: 100%;
}

#mc_embed_signup_scroll {
  @apply flex flex-col p-16 justify-start items-center;

  h2 {
    @apply mt-2 text-3xl font-medium text-gray-900 dark:text-white sm:text-4xl;
    @extend .gradient_animation;
  }

  .mc-field-group {
    @apply flex flex-col items-center text-left mt-6 w-full;
    label {
      @apply text-white;
    }
    .email {
      @apply w-1/3 border-gray-300 rounded-lg p-2 mt-2;
    }

    .select {
      @apply w-1/3 py-2 px-3 mt-2 border-gray-300 rounded-lg;
    }
  }
  .foot {
    @apply text-white text-center bg-gray-600 p-3 rounded-lg w-1/5 mt-10;
    @apply cursor-pointer;

    input {
      @apply text-white bg-gray-600;
      @apply cursor-pointer;
    }
  }
}
